<launch>
	<node name="imageloop" pkg="vision" type="imageloop.py" output="screen">
	    <param name="image_dir" value="/home/ryan/ws/3081/src/SolvePnPVision/vision/images/frc/single"/>
	    <param name="image_time" value="1000"/>
        <param name="camera_info_url" value="file://$(find vision)/HDLifecamCal.yaml" />

	</node>
</launch>
